#container {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full height of the viewport */
  background-image: url('../images/login-background.jpg'); /* Adjust the path to your image */
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  position: relative; /* Position for the overlay */
  z-index: 0;
}

#container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
  z-index: -1; /* Place behind the content */
}

#app-title {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-bottom: 20px; /* Space below the title */
}

#app-title img {
  margin-right: 15px; /* Space between image and text */
}

#app-title h1 {
  font-family: 'Knewave';
  font-size: 3rem;
  color: #f6f6f6;
}

.login-container {
  background: #f8f8f8;
  padding: 30px;
  border-radius: 15px;
  width: 30%;
  height: 18rem;
  text-align: left;
  margin: auto;
  z-index: 1;
  position: relative;
  box-shadow: 12px 10px 0px 2px #ff4d75;
  transition: height 0.3s ease;
}

.login-container.registering {
  height: 22rem;
}


h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 30px;
  margin-left: 8px;
}

p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  margin-left: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-input {
  width: 93%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ffb6c1;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-input.admin-key {
  opacity: 0;
  transform: translateY(-10px);
}

.login-input.admin-key.visible {
  opacity: 1;
  transform: translateY(0);
}


#button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  gap: 1rem;
  width: 100%;
  transition: transform 1.5s ease;
}

.login-container.registering #button-container {
  transform: translateY(20px);
}


.login-button {
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 41%;
  transition: background-color 0.3s, transform 0.3s; /* Transition for hover effect */
  background: #ff4d75;
  color: white;
}

.register-button {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border-color: #e63b63;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s, transform 0.3s; /* Transition for hover effect */
  background: #f6f6f6;
  color: #ff4d75;
}

.login-button:hover {
  background: #e63b63;
  transform: translateY(-4px); /* Lift effect */
}

.register-button:hover {
  background: #e2e1e1;
  color: #ff1c4d;
  transform: translateY(-4px);
}

/* Custom Fonts */

@font-face {
  font-family: 'Knewave';
  src: url(../fonts/Knewave-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
